mixin meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

mixin title(namePage)
    if namePage
        title= `${namePage} | ${nameSite}`
    else
        title= nameSite

mixin styles(nameStyles='main')
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" href="stylesheets/normalize-8.0.0.min.css")
    <!--build:css stylesheets/#{nameStyles}.min.css-->
    link(rel="stylesheet" href=`stylesheets/${nameStyles}.css`)
    <!--endbuild-->

mixin scripts(nameScripts='main')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script window.jQuery || document.write('<script src="javascripts/jquery-3.3.1.min.js"><\/script>')
    <!--build:js javascripts/#{nameScripts}.min.js-->
    script(src=`javascripts/${nameScripts}.js`)
    <!--endbuild-->